
@*@{
    Layout = null;
}*@

<html>
@{
    ViewBag.Title = "Index";

    var fromURL = Request.Params["fileName"];

    if (fromURL == null)
    {
        foreach (var name in ViewBag.FILES_FROM_UPLOAD)
        {
            fromURL = name.FILE_NAME;
        }

    }

}



<head>

    <!-- Bootstrap CSS -->
    <link href="~/Content/style1.css" rel="stylesheet" />
    <!-- Site CSS -->

</head>
<body>
    <h1 style="color:white">Calculate Code Complexity Due To, </h1>

    <div class="col-md-4">
        <div class="card1">
            <div class="content1">
                <div class="front1">
                    Size
                </div>
                <div class="back1">
                    <label onclick='window.location.href = "../ComplexitySizeVariablesMethods/ComplexitySize?fileName=@fromURL"' class="button" aria-hidden="true">
                        Calculate
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card1">
            <div class="content1">
                <div class="front1">
                    Variables
                </div>
                <div class="back1">
                    <label onclick='window.location.href = "../ComplexitySizeVariablesMethods/ComplexityVariables?fileName=@fromURL"' class="button" aria-hidden="true">
                        Calculate
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card1">
            <div class="content1">
                <div class="front1">
                    Methods
                </div>
                <div class="back1">
                    <label onclick='window.location.href = "../ComplexitySizeVariablesMethods/ComplexityMethods?fileName=@fromURL"' class="button" aria-hidden="true">
                        Calculate
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card1">
            <div class="content1">
                <div class="front1">
                    Control Structure
                </div>
                <div class="back1">
                    <label onclick='window.location.href = "../ControlStrcture/SetWeight?fileName=@fromURL"' class="button" aria-hidden="true">
                        Calculate
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
            <div class="card1">
                <div class="content1">
                    <div class="front1">
                        Inheritance
                    </div>
                    <div class="back1">
                        <label onclick='window.location.href = "../Inheritance/Inheritance_viewer?fileName=@fromURL"' class="button" aria-hidden="true">
                            Calculate
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card1">
                <div class="content1">
                    <div class="front1">
                        Coupling
                    </div>
                    <div class="back1">
                        <label onclick='window.location.href = "../"' class="button" aria-hidden="true">
                            Calculate
                        </label>
                    </div>
                </div>
            </div>
        </div>


</body>
</html>
