
@{
    Layout = null;
}

@{
    ViewBag.Title = "UploadFile";
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<h1> Upload Your Code Files </h1>

@using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div>
        <button type="button" class="btn btn-primary btn-block"> @Html.TextBox("files", "", new { type = "file", multiple = "multiple" }) </button>


        <button type="submit" class="btn btn-primary btn-lg btn-block"> Upload  </button>
        @ViewBag.Message

    </div>


}
